.main{
    font-family: 'Manrope';
    background-color: #0e0e0e;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.card{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.card-page3{
    position: relative;
    top: 0%;
    left: 0%;
    overflow: hidden;
    border-radius: 12px;
    transition: 100ms cubic-bezier(.06,.74,.3,1);
    border-style: solid;
    border-width: 4px;
    border-color: #000;
    background-color: #030303;
    margin: 10px 10px;
}
.card-image-page3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 600ms cubic-bezier(.06,.74,.3,1);
    opacity: 1;
}
.card-content-page3{
    position: absolute;
    display: block;
    top: 80%;
    left: 50%;
    width: 101%;
    height: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    background: linear-gradient(rgb(0,0,0,0) 5%, #030303 80%);
}
.card-text-p3{
    position: relative;
    top: 100px;
    text-align: left;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
    color: whitesmoke;
    border-radius: 4%;
    pointer-events: none;
    font-weight: light;
    font-family: 'Manrope';
}
.subtext{
    top: 100px;
    font-weight: light;
    font-size: 12px;
    color: rgb(245, 245, 245);
    margin-right: 15px;
}
.card:hover >.card-image-page3{
    scale: 1.07;
    opacity: 0.5;
}
.card-page3:hover >.card-image-page3{
    scale: 1.07;
    opacity: 0.5;
}
.find-out{
    position: absolute;
    text-decoration: none;
    top: 135px;
    left: 0px;
    margin-top: 5px;
    margin-left: 15px;
    color: #000;
    background-color: white;
    border: none;
    border-radius: 25px;
    font-family: 'Raleway', serif;
    font-size: 12px;
    font-weight: bolder;
    padding: 6px;
    transition: 200ms ease;
}
.find-out:hover{
    background-color: rgb(203, 203, 203);
}
.wishlist-btn{
    width: 30px;
    border-radius: 2rem;
    left: 220px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: #000000;
}
.brand{
    font-family: 'Bebas Neue';
    font-size: 32px;
}

.srch-btn{
    width: 90px;
    background-color: rgb(198, 5, 5);
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}
.srch-btn:hover{
    opacity: 0.7;
}
.detail-card{
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95vw;
    height: 95vh;
    overflow: hidden;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    
}
.detail-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-card-content{
    position: absolute;
    width: 100%;
    top: 60%;
    height: 85%;
    margin-left: 3%;
    
}
.dc-title{
    margin-bottom: 1%;
    margin-right: 3%;
}
.detail-card-gradient{
    position: absolute;
    background: linear-gradient(rgb(0,0,0,0) 5%, #080808 80%);
    border-style: none;
    border-width: 0;
}
.detail-card-text{
    position: relative;
    margin-bottom: 2%;
}
.overview{
    position: relative;
    margin: 1% 0%;
    margin-bottom: 0.5%;
}
.overview-text{
    position: relative;
    max-width: 70%;
}
.film-attributes{
    position: relative;
    color: #949494;
}
.detail-card-btn{
    position: relative;
    top: 0;
    left:0%;
    font-size: 18px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 0;
}
.login{
    position: relative;
    margin: auto;
    max-width: 23rem;
    max-height: 40%;
    padding: 1rem;
    top: 24rem;
}
.skeleton-loader{
    height: 428px;
    width: 18rem;
    background-color: #202020;
    border-radius: 12px;
    margin: 10px 10px;
    animation: blob-ani 1s linear infinite;
}
@keyframes blob-ani{
    from{
       opacity: 0.25;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0.25;
    }
}
.desc-nav{
    background-color: #0e0e0e;
}

.desc-text{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 32px;
    margin-top: 1%;
    margin-left: 6%;
}
.dashboard-btn{
    background-color: #f9f9f9;
    color: #000;
    border-radius: 20px;
    padding:5px 10px;
    border: none;
    border-radius: 25px;
    font-family: 'Raleway', serif;
    font-size: 14px;
    font-weight: bolder;
    margin: 0 0.25rem;
}
.watchlist-btn{
    left: 63%;
    margin: 0.5%;
}
.added-alert{
    position: absolute;
    width: 10em;
    top: 0;
}

.login-error{
    color: #de4a4a;
}
