.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.card{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.8%;
}